<h1>Mexican Food</h1>
<p>Let's try</p>

<% @photos.each do |photo| %>
  <div class="card">
    <div class="card-header"><%= photo.username%></div>
    <%= image_tag photo.url, class: "card-img-top", alt: "photo"%>
      <div class="card-block">
        <p class="card-text"><%= photo.caption %></p>
      </div>
  </div>
<% end %>